/**
 *
 * You can write your CSS code here, DO NOT touch the default JavaScript file
 * because it will make it harder for you to update.
 * 
 */

/*# sourceMappingURL=custom.css.map */

.form-control:focus,
.input-group-text:focus,
.custom-select:focus,
.custom-file-label:focus {
    background-color: #fefeff;
    border-color: #a53c3c;
}

.btn-primary,
.btn-primary.disabled {
    box-shadow: 0 2px 6px #acb5f6;
    background-color: #702828;
    /* border-color: #702828; */
    border: none;
}

.btn-primary:focus,
.btn-primary.disabled:focus {
    background-color: #5a1f1f !important;
}

.btn-primary:focus:active,
.btn-primary.disabled:focus:active {
    background-color: #5a1f1f !important;
}

.btn-primary:active,
.btn-primary:hover,
.btn-primary.disabled:active,
.btn-primary.disabled:hover {
    background-color: #5a1f1f !important;
}

.card .card-header h4 {
    font-size: 16px;
    line-height: 28px;
    color: #702828;
    padding-right: 10px;
    margin-bottom: 0;
}

.navbar a.dropdown-toggle {
    cursor: pointer;
}

.navbar a.dropdown-toggle:hover {
    color: #fff;
}

.navbar a.dropdown-item i {
    margin-top: 0.1px;
}

.navbar .logout {
    outline: none;
}

.navbar-bg {
    background-color: #702828;
}

.main-sidebar a.has-dropdown {
    cursor: pointer;
}

.main-sidebar .sidebar-menu li.active a {
    color: #702828;
    font-weight: 600;
    background-color: #f8fafb;
}

body.sidebar-mini .main-sidebar .sidebar-menu>li.active>a {
    box-shadow: 0 4px 8px #acb5f6;
    background-color: #702828;
    color: #fff;
}

body.sidebar-mini .main-sidebar .sidebar-menu>li ul.dropdown-menu li>a:focus,
body.sidebar-mini .main-sidebar .sidebar-menu>li ul.dropdown-menu li.active>a,
body.sidebar-mini .main-sidebar .sidebar-menu>li ul.dropdown-menu li.active>a:hover {
    color: #fff;
    background-color: #702828 !important;
}

@media (max-width: 420px) {
    .btn-action {
        padding: 4px 0 0 0;
        min-width: 30px;
        min-height: 30px;
        line-height: 30px;
    }

    .btn-action i {
        font-size: 12px;
    }
}

/* Program */

.owl-carousel .owl-stage {
    width: max-content;
}

.owl-carousel .card-img-top {
    height: 350px;
}

.btn-control-program {
    position: absolute;
    top: 96%;
    cursor: pointer;
    color: #4a7280;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    transition: all .3s;
    z-index: 99;
}

.btn-control-pengumuman {
    position: absolute;
    top: 96%;
    cursor: pointer;
    color: #4a7280;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    transition: all .3s;
    z-index: 99;
}

.btn-control-program:hover,
.btn-control-pengumuman:hover {
    background-color: #ddd;
}

.btn-control-program i,
.btn-control-pengumuman i {
    font-size: 23px;
    line-height: 42px;
}

#prev-slide-program,
#prev-slide-pengumuman {
    right: 100px;
}

#next-slide-program,
#next-slide-pengumuman {
    right: 30px;
}

@media (max-width: 1366px) {
    .owl-carousel .card-img-top {
        height: 300px;
    }
}

@media (max-width: 575.98px) {
    .section .section-title {
        font-size: 18px;
    }

    #prev-slide-program,
    #prev-slide-pengumuman {
        right: 85px;
    }

    #next-slide-program,
    #next-slide-pengumuman {
        right: 15px;
    }
}

/* Detail */

.detail img {
    border-radius: 3px;
}

/* Profil */

.profile-widget .profile-widget-items .profile-widget-item {
    flex: 1;
    text-align: left !important;
    margin-left: 30px;
    border-right: 1px solid #f2f2f2;
    padding: 10px 0;
}

@media (max-width: 575.98px) {
    .profile-widget .profile-widget-items .profile-widget-item {
        border-top: 1px solid #f2f2f2;
        margin-left: 0;
        text-align: center !important;
    }
}

/* Icon Pdf */

.pdf {
    width: 36px;
    margin-top: 6px;
}

@media screen and (max-width: 1366px) {
    .pdf {
        width: 28px;
    }
}
